@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.container {
  @include stack(1rem);
  text-align: center;
  align-items: center;
  width: 50%;
  padding: 4vh 2vw;
  border: 1px solid $gray300;
  border-radius: $rounded-easy;
  background-color: $white;
  margin: 20vh auto;
}

.container h1 {
  color: $primary;
}

.offline-btn {
  @include btn-outline(20vw);
}

.online-btn {
  @include btn-solid(20vw);
}

.nav {
  @include row(1rem);
  height: 4vh;
  background-color: rgba(235, 77, 112, 0.7);
  backdrop-filter: blur(5px);

  position: sticky;
  padding: 0 2vw;

  a {
    height: 100%;
    line-height: 4vh;
    color: $white;
    text-decoration: none;
    font-weight: bold;
  }
}
