<div *ngIf="appTemplate === APP_TEMPLATE.WELCOME" class="app-container">
  <h1> Welcome to your chess boards! </h1>
  <button (click)="goOffline()" class="offline-btn">PLay offline</button>
  <button (click)="goOnline()" class="online-btn">Play online</button>
</div>

<nav *ngIf="appTemplate === APP_TEMPLATE.WITH_NAV" class="app-nav">
  <a ariaCurrentWhenActive="page" routerLink="/mainpage" routerLinkActive="active">Go Offline</a>
  <a ariaCurrentWhenActive="page" routerLink="/online" routerLinkActive="active">Go Online</a>
</nav>


<router-outlet></router-outlet>


