@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.offline-container {
  @include stack;
  margin: 20vh auto;
  align-items: center;

  div {
    @include row;
    justify-content: center;
    min-width: 1100px;
    overflow-x: scroll;

    margin-bottom: 2vh;


    iframe {
      width: 500px;
      height: 500px;
      border: 1px solid $gray300;
      border-radius: $rounded-easy;
    }

    iframe + iframe {
      transform: rotate(180deg);
    }

  }

  button {
    @include btn-solid(20vw);
  }
}
